*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(255, 255, 255);
}

#register{
    background: #B93EFF;
}

h1{
    color: #B93EFF;
    font-family: Helvetica;
}

h2 {
    color: #ffffff;
    font-family: Helvetica;
}

#start{
    background-color: aliceblue;
}

#start img{
    position: absolute;
    width: 10rem;
    height: 8rem;
    top: 50%;
    left: 50%;
    transform: translate(-5rem, -4rem);
}

.botonera_inf{
    background: #B93EFF;
    width: 100%;
    height: 10vh;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
}

.botonera_top{
    position: fixed;
    background: #B93EFF;
    width: 100%;
    height: 10vh;
    left: 0;
    right: 0;
    top: 0;
    padding: 0;
}

.lista{
    background-image: url(../img/icons/Lista\ de\ Deseos.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15%;
}

.ajustes{
    background-image: url(../img/icons/Ajustes.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 15%;
}

.logo{
    background-image: url(../img/icons/logo_blanco.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
}

.chat{
    background-image: url(../img/icons/Mensajes\ Blaco.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 15%;
}

.buscar{
    background-image: url(../img/icons/Lupa\ Blanco.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15%;
}

.botonera_inf ul li{
    display: block;
    height: 10vh;
    width: 25vw;
    float: left;
}

.botonera_top ul li{
    display: block;
    height: 10vh;
    width: 20vw;
    float: left;
}

/*.botonera_inf ul li:hover{
    opacity: 30%;
} */

.grups{
    background-image: url(../img/icons/icon_white-04.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    border-top: 3px solid #B93EFF;
}

.grups:hover{
    background-image: url(../img/icons/icons_nobg-04.png);
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
}

.likes{
    background-image: url(../img/icons/icon_white-02.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    border-top: 3px solid #B93EFF;
}

.likes:hover{
    background-image: url(../img/icons/icons_nobg-02.png);
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
}

.cards{
    background-image: url(../img/icons/icon_white-01.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    border-top: 3px solid #B93EFF;
}

.cards:hover{
    background-image: url(../img/icons/icons_nobg-01.png);
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
}

.perfil{
    background-image: url(../img/icons/icon_white-03.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18%;
    border-top: 3px solid #B93EFF;
}

.perfil:hover{
    background-image: url(../img/icons/icons_nobg-03.png);
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18%;
}

.carta {
    width: 100%;
    height: 80vh;
    margin-top: 10vh;
    overflow-x: hidden;
}

.carta .categoria {
    position: absolute;
    display: inline-block;
    text-align: center;
    left: 0;
    right: 0;
    font-size: 0.8rem;
    margin-top: 2rem;
    overflow: hidden;
}

span {
    color: #ffffff;
}

.gris {
    color: #404040;
}

.gris:hover {
    color: #B93EFF;
}

.carta .libro {
    position: static;
    width: 20rem;
    height: 30rem;
    margin: 7rem auto;
    background-image: url(../img/libro.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.info {
    width: 20rem;
    height: 7rem;
    background-color: #B93EFF;
    margin: -7rem auto;
    color: white;
}

#grupos-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

#grupos-content div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px; 
}

#grupos-content img {
    width: 100px; 
    height: 100px; 
    margin-right: 50px; 
}

header{
    text-align: center;
    padding: 40px;
    display: inline-block;
    justify-content: center;
}

#center-menu {
    display: inline-block;
    margin-top: -1rem;
}

#center-menu img {
    width: 170px;
    height: 74px;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}

.continuar{
    width: 40%;
    height: 40%;
    margin-left: 7.5rem;
    margin-top: 2.5rem;
}

.logoregister{
    width: 40%;
    height: 40%;
    margin-left: 7.5rem;
    margin-top: 4.5rem;
}

/* Lista de deseos */

.botonera_top_dos{
    position: fixed;
    background: #B93EFF;
    width: 100%;
    height: 10vh;
    left: 0;
    right: 0;
    top: 0;
    padding: 0;
    z-index: 1000;
}

.topcontent{
    margin-top: 2rem;
}

.flecha{
    margin-left: 2rem;
    width: 3rem;
    height: auto;
    background-size: cover;
}

.titulo {
    font-size: 26px;
    text-align: center;
    right: 0;
    left: 0;
    margin-top: -2rem;
}

.atras {
    margin-left: 1rem;
    margin-top: 1.5rem;
    width: 20px;
    height: 20px;
}

/* Chat */

.basura {
    float: right;
    margin-right: 1.6rem;
    width: 10vw;
    height: 5vh;
    margin-top: -2.4rem;
}

.contactes {
    position: absolute;
    top: 10vh; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 3px solid #B93EFF; 
    width: 100%; 
    box-sizing: border-box;
}


.user-photo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 15px;
}

.user-details {
    flex-grow: 1;
    text-align: center;
}

.nombrelibro {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    color: #B93EFF;
    font-family: Helvetica;
}

.numensajes {
    width: 30px;
    height: 30px;
}

/* Advertencia */

#mensaje-grande {
    width: 80%;
    margin-top: 35vh;
    margin-left: 20px;
    background-color: #B93EFF;
    border-radius: 10px;
    color: white;
    font-family: Helvetica;
    padding: 20px;
    text-align: center;
}

#mensajes-pequenos {
    display: flex;
    width: 80%;
    margin-top: 20px;
    margin-left: 40px;
    justify-content: space-between;
}

.opcions {
    flex: 1;
    background-color: #B93EFF;
    border-radius: 10px;
    color: white; 
    font-family: Helvetica;
    padding: 10px;
    margin-right: 10px;
    text-align: center;
}